/* dm-sans-latin-wght-normal */
@font-face {
  font-family: 'DM Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/dm-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* noto-serif-latin-wght-normal */
@font-face {
  font-family: 'Noto Serif Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-serif:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* source-sans-pro-latin-400-normal */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/source-sans-pro@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/source-sans-pro@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

.hero {
  background-image: url("/images/bg-hero.png");
}

.card {
  box-shadow: 0px 4px 10px 0px #00000040;
}

.mask {
  mask-image: linear-gradient(black 80%, transparent);
}

.slider {
  box-shadow: 0px 3px 7px -3px #0000004D,
  0px 6px 12px -2px #32325D40;
}

.range #range-mask::before {
  display: block;
  width: var(--percentage);
  height: 100%;
  content: "";
  border-radius: 14px;
  background-color: #69A63F;
}
.range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #FFFFFF;
  background: #69A63F;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 2px 0px #555555;
}

@media screen and (min-width: 640px) {
  .mask {
    mask-image: initial;
  }
}
